{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": ["react"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": "off"
  },
  "globals": {
    "document": "readonly",
    "Image": "readonly",
    "ResizeObserver": "readonly",
    "WebSocket": "readonly",
    "window": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["frontend/src"]
      }
    }

  }
}
