{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "import/no-unresolved": ["error", {"ignore": ["felicia_js.node", "@felicia-viz/ui", "@felicia-viz/communication", "@felicia-viz/proto"]}],
    "jsx-a11y/no-noninteractive-tabindex": [
      "error",
      {
        "tags": [],
        "roles": ["tabpanel"]
      }
    ],
    "no-bitwise": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/no-multi-comp": "off"
  },
  "globals": {
    "document": "readonly",
    "FELICIA_ROOT": "readonly",
    "HEARTBEAT_INTERVAL": "readonly",
    "HTTP_PORT": "readonly",
    "Image": "readonly",
    "navigator": "readonly",
    "SERVER_ADDRESS": "readonly",
    "WebSocket": "readonly",
    "WEBSOCKET_PORT": "readonly",
    "window": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [".", "frontend/src", "backend/src"]
      }
    }

  }
}
