@font-face {
	font-family: "felicia-icons";
	src: url("felicia-icons.eot?8d8eaf5ab8b64e914914152b57ca6c02?#iefix") format("embedded-opentype"),
url("felicia-icons.woff2?8d8eaf5ab8b64e914914152b57ca6c02") format("woff2"),
url("felicia-icons.woff?8d8eaf5ab8b64e914914152b57ca6c02") format("woff");
}

.felicia-icons {
	line-height: 1;
}

.felicia-icons:before {
	font-family: felicia-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.felicia-icons-camera-panel:before {
	content: "\f101";
}
.felicia-icons-depth-camera-panel:before {
	content: "\f102";
}
.felicia-icons-imu-panel:before {
	content: "\f103";
}
.felicia-icons-plus:before {
	content: "\f104";
}
