@font-face {
	font-family: "felicia-icons";
	src: url("felicia-icons.eot?9c60c17ece1c3f969a6169cd2f125cdc?#iefix") format("embedded-opentype"),
url("felicia-icons.woff2?9c60c17ece1c3f969a6169cd2f125cdc") format("woff2"),
url("felicia-icons.woff?9c60c17ece1c3f969a6169cd2f125cdc") format("woff");
}

.felicia-icons {
	line-height: 1;
}

.felicia-icons:before {
	font-family: felicia-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.felicia-icons-camera-frame-view:before {
	content: "\f101";
}
.felicia-icons-depth-camera-frame-view:before {
	content: "\f102";
}
.felicia-icons-image-with-bounding-boxes-view:before {
	content: "\f103";
}
.felicia-icons-image-with-humans-view:before {
	content: "\f104";
}
.felicia-icons-imu-frame-view:before {
	content: "\f105";
}
.felicia-icons-lidar-frame-view:before {
	content: "\f106";
}
.felicia-icons-plus:before {
	content: "\f107";
}
