#command-panel {
  .highlight {
    color: $color-text-highlight;
    font-weight: 'bold';
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $background;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-control-subtle;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-control-hover;
  }
}