@import 'theme';

body {
  user-select: none;
  background: $background;
  font-family: $font-family;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}

#control-panel {
  position: fixed;
  width: 348px;
  height: 100vh;
  border-bottom: solid 1px #000;

  main {
    transform: translateX(-348px);
    transition: transform .7s;

    &.is-opened {
      transform: translateX(0px);
    }
  }
}

#toolbar {
  position: fixed;
  top: calc(50vh - 74px);
  right: 0;
  transform: translateY(-50%);
}

@import 'toolbar';
@import 'control-panel';